template-host/instagram-reels-to-sheets.json
{
  "name": "Scrape Instagram Reels to Google Sheets",
  "nodes": [
    {
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d-webhook",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-reels-to-sheets",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "ig-reels-to-sheets"
    },
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "d-input",
      "name": "Input Config / 输入配置",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "reel_urls",
              "value": "https://www.instagram.com/reel/C5Rdyj_q7YN/",
              "type": "string"
            },
            {
              "name": "spreadsheet_id",
              "value": "1RtA2E-Yf9wvjyJGs7jJZvEyMHKp-NIgbVsIQ_AVhBLQ",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "d-run",
      "name": "Run and Get Results / 运行并取结果",
      "parameters": {
        "resource": "worker",
        "operation": "runAndGetResults",
        "workerId": {
          "mode": "id",
          "value": "coreclaw~instagram-reel-scraper",
          "__rl": true
        },
        "input_json": "={\n  \"urls\": [{\"url\": \"{{ $json.reel_urls }}\"}]\n}",
        "returnAll": true,
        "limit": 50
      }
    },
    {
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "d-code",
      "name": "Normalize & Score / 标准化与评分",
      "parameters": {
        "jsCode": "const rows = [];\nfor (const item of $input.all()) {\n  const d = item.json || {};\n  const likes = Number(d.likesCount) || 0;\n  const comments = Number(d.commentsCount) || 0;\n  const plays = Number(d.videoPlayCount) || Number(d.videoViewCount) || 0;\n  const dur = d.videoDuration || \"\";\n  // score 0-100: likes (50) + comments (30) + plays (20); viral reel scale\n  const likeScore = Math.min(50, likes / 2000000 * 50);\n  const commentScore = Math.min(30, comments / 20000 * 30);\n  const playScore = Math.min(20, plays / 5000000 * 20);\n  const score = Math.round(likeScore + commentScore + playScore);\n  const hashtags = Array.isArray(d.hashtags) ? d.hashtags.join(\" \") : (d.hashtags || \"\");\n  rows.push({ json: {\n    engagement_score: score,\n    owner_username: d.ownerUsername || \"\",\n    owner_full_name: d.ownerFullName || \"\",\n    type: d.type || \"\",\n    likes_count: likes,\n    comments_count: comments,\n    video_play_count: plays,\n    video_duration: dur,\n    caption: (d.caption || \"\").slice(0, 300),\n    hashtags: hashtags,\n    short_code: d.shortCode || \"\",\n    reel_url: d.url || \"\",\n    input_url: d.inputUrl || \"\",\n    timestamp: d.timestamp || \"\",\n    display_url: d.displayUrl || \"\",\n    product_type: d.productType || \"\",\n    video_url: d.videoUrl || \"\"\n  }});\n}\nrows.sort((a, b) => b.json.engagement_score - a.json.engagement_score);\nrows.forEach((r, i) => { r.json.rank = i + 1; });\nreturn rows;"
      }
    },
    {
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "d-sheet",
      "name": "Append Rows to Sheet / 追加到表格",
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1RtA2E-Yf9wvjyJGs7jJZvEyMHKp-NIgbVsIQ_AVhBLQ",
          "__rl": true,
          "cachedResultName": "Instagram Insights"
        },
        "sheetName": {
          "mode": "name",
          "value": "Reels",
          "__rl": true
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": []
        },
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        -100
      ],
      "id": "d-note1",
      "name": "Overview",
      "parameters": {
        "content": "## Instagram Reels → Google Sheets\n\nScrape reel data by Reel URL via CoreClaw, score each by engagement (likes + comments + plays on a viral-reel scale), append to the **Reels** sheet.\n\nEdit **Input Config**: one or more Reel URLs (comma/space separated)."
      },
      "width": 400,
      "height": 200
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        120
      ],
      "id": "d-note2",
      "name": "Creds",
      "parameters": {
        "content": "Bind credentials:\n- CoreClaw API (Run node)\n- Google Sheets OAuth2 (Append node)"
      },
      "width": 400,
      "height": 120
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Config / 输入配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Config / 输入配置": {
      "main": [
        [
          {
            "node": "Run and Get Results / 运行并取结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run and Get Results / 运行并取结果": {
      "main": [
        [
          {
            "node": "Normalize & Score / 标准化与评分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Score / 标准化与评分": {
      "main": [
        [
          {
            "node": "Append Rows to Sheet / 追加到表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "coreclaw-public-templates"
  },
  "description": "Scrape reel data by Reel URL via CoreClaw, score each by engagement (likes + comments + plays on a viral-reel scale), append structured rows to a Google Sheet."
}
