workflows/coreclaw-google-maps-leads-starter-global.json
{
  "id": "coreclawGoogleMapsLeadsStarterGlobal",
  "name": "CoreClaw Google Maps Leads Starter Global",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## CoreClaw Google Maps Leads - Starter Global\\n\\nSearches CoreClaw Store, selects the Google Maps keyword scraper, reads details/version/schema, generates campaign config, starts a run, and returns `run_slug`.\\n\\nAfter import, select your own CoreClaw API credential on each CoreClaw node.",
        "width": 620,
        "height": 260
      },
      "id": "note-starter",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1380,
        -260
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keyword",
              "name": "keyword",
              "value": "coffee shop",
              "type": "string"
            },
            {
              "id": "base_location",
              "name": "base_location",
              "value": "New York, USA",
              "type": "string"
            },
            {
              "id": "max_results",
              "name": "max_results",
              "value": 3,
              "type": "number"
            },
            {
              "id": "fetch_reviews",
              "name": "fetch_reviews",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "fetch_social_info",
              "name": "fetch_social_info",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "lead-search-input",
      "name": "Lead Search Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "search",
        "query": "google maps",
        "limit": 20
      },
      "id": "search-scrapers",
      "name": "Search CoreClaw Scrapers",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -780,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $input.all().map((item) => item.json).filter(Boolean);\n\nconst targetSlug = \"01KPD6M5YQADCQKGVKPDZVYC63\";\nconst targetTitle = \"Google Map Details By Keyword\".toLowerCase();\n\nconst selected = candidates.find((candidate) => String(candidate.slug || \"\") === targetSlug)\n  ?? candidates.find((candidate) => String(candidate.title || \"\").trim().toLowerCase() === targetTitle)\n  ?? candidates.find((candidate) => /google\\s*map/i.test(String(candidate.title || \"\")) && /keyword/i.test(String(candidate.title || \"\")));\n\nif (!selected?.slug) {\n  const found = candidates.map((candidate) => candidate.title || candidate.slug).filter(Boolean).slice(0, 10).join(\", \");\n  throw new Error(`Could not find the Google Maps keyword scraper from CoreClaw store search. Found: ${found || \"none\"}`);\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.slug,\n    scraper_title: selected.title || \"Google Map Details By Keyword\",\n    scraper_description: selected.description || \"\",\n    store_search_query: \"google maps\",\n    store_candidates_checked: candidates.length,\n  },\n}];"
      },
      "id": "select-google-maps-keyword-scraper",
      "name": "Select Google Maps Keyword Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "getDetails",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        }
      },
      "id": "get-scraper-details",
      "name": "Get Current Scraper Details",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -260,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const detail = $input.all()[0]?.json ?? {};\nconst selected = $node[\"Select Google Maps Keyword Scraper\"].json;\nconst input = $node[\"Lead Search Input\"].json;\n\nconst version = detail.version;\nif (!version) {\n  throw new Error(\"CoreClaw scraper detail did not include a version. Re-check the scraper slug or API response.\");\n}\n\nconst parameters = detail.parameters ?? {};\nconst customSchema = parameters.custom ?? {};\nconst systemDefaults = parameters.system ?? {};\nconst customProperties = Array.isArray(customSchema.properties) ? customSchema.properties : [];\nconst primaryCustomProperty = customProperties.find((property) => property.name === customSchema.b)\n  ?? customProperties.find((property) => property.type === \"array\")\n  ?? customProperties[0]\n  ?? {};\nconst customParamRoot = String(primaryCustomProperty.name || customSchema.b || \"\").trim();\nif (!customParamRoot) {\n  throw new Error(\"CoreClaw scraper detail did not expose a custom input root field.\");\n}\n\nconst itemDefaultSource = Array.isArray(primaryCustomProperty.default)\n  ? primaryCustomProperty.default[0]\n  : primaryCustomProperty.default;\nconst customItem = itemDefaultSource && typeof itemDefaultSource === \"object\"\n  ? { ...itemDefaultSource }\n  : {};\nconst itemParamList = Array.isArray(primaryCustomProperty.param_list) ? primaryCustomProperty.param_list : [];\nconst allowedItemFields = new Set([\n  ...Object.keys(customItem),\n  ...itemParamList.map((entry) => entry.param).filter(Boolean),\n]);\nconst requiredCustomFields = customProperties\n  .filter((property) => property.required)\n  .map((property) => property.name)\n  .filter(Boolean);\nconst requiredItemFields = itemParamList\n  .filter((entry) => entry.required)\n  .map((entry) => entry.param)\n  .filter(Boolean);\n\nconst keyword = String(input.keyword ?? \"\").trim();\nconst baseLocation = String(input.base_location ?? \"\").trim();\nif (!keyword) throw new Error(\"keyword is required.\");\nif (!baseLocation) throw new Error(\"base_location is required.\");\n\nconst hardLimit = 100;\nconst maxResults = Math.min(Math.max(1, Number(input.max_results || 3)), hardLimit);\nconst fetchReviews = Boolean(input.fetch_reviews);\nconst fetchSocialInfo = Boolean(input.fetch_social_info);\n\nfunction numberValue(value, fallback, minimum = 0) {\n  const normalized = Number(value ?? fallback);\n  return Math.max(minimum, Number.isFinite(normalized) ? normalized : fallback);\n}\n\nfunction numberFromInput(name, fallback, minimum = 0) {\n  return numberValue(input[name], fallback, minimum);\n}\n\nfunction systemDefault(names, fallback) {\n  for (const name of names) {\n    const value = systemDefaults[name];\n    if (value !== undefined && value !== null && value !== \"\") return value;\n  }\n  return fallback;\n}\n\nfunction isSupportedItemField(name) {\n  return allowedItemFields.size === 0 || allowedItemFields.has(name);\n}\n\nfunction setFirstSupported(names, value) {\n  const fieldName = names.find(isSupportedItemField);\n  if (!fieldName) return \"\";\n  customItem[fieldName] = value;\n  return fieldName;\n}\n\nconst fieldMapping = {\n  keyword: setFirstSupported([\"keyword\", \"search_keyword\", \"query\"], keyword),\n  base_location: setFirstSupported([\"base_location\", \"location\", \"search_location\"], baseLocation),\n  max_results: setFirstSupported([\"max_results\", \"max_result\", \"limit\"], maxResults),\n  lang: setFirstSupported([\"lang\", \"language\"], String(customItem.lang || customItem.language || \"en-US\")),\n  fetch_reviews: setFirstSupported([\"fetch_reviews\"], fetchReviews),\n  fetch_social_info: setFirstSupported([\"fetch_social_info\"], fetchSocialInfo),\n  max_reviews_per_place: setFirstSupported(\n    [\"max_reviews_per_place\"],\n    numberValue(customItem.max_reviews_per_place, 5, 0),\n  ),\n};\n\nif (!fieldMapping.keyword) {\n  throw new Error(\"CoreClaw custom schema did not expose a keyword field.\");\n}\nif (!fieldMapping.base_location) {\n  throw new Error(\"CoreClaw custom schema did not expose a base location field.\");\n}\n\nconst missingRequiredItemFields = requiredItemFields\n  .filter((fieldName) => customItem[fieldName] === undefined || customItem[fieldName] === null || customItem[fieldName] === \"\");\nif (missingRequiredItemFields.length) {\n  throw new Error(`Generated custom params are missing required item fields: ${missingRequiredItemFields.join(\", \")}`);\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.scraper_slug,\n    scraper_title: selected.scraper_title,\n    scraper_description: selected.scraper_description,\n    version,\n    custom_schema: customSchema,\n    custom_param_root: customParamRoot,\n    custom_item_fields: Object.keys(customItem),\n    custom_item_field_mapping: fieldMapping,\n    system_defaults: systemDefaults,\n    required_custom_fields: requiredCustomFields,\n    required_item_fields: requiredItemFields,\n    keyword,\n    base_location: baseLocation,\n    max_results: maxResults,\n    result_limit: 20,\n    wait_seconds: numberFromInput(\"wait_seconds\", 10, 5),\n    export_filter_keys: \"title,address,phone,website,review_rating,review_count,primary_category,url\",\n    customParams: JSON.stringify({ [customParamRoot]: [customItem] }),\n    systemParams: JSON.stringify({\n      cpus: numberValue(systemDefault([\"cpus\"], 1), 1, 0.125),\n      memory: numberValue(systemDefault([\"memory\", \"memory_bytes\"], 4096), 4096, 512),\n      execute_limit_time_seconds: numberValue(systemDefault([\"execute_limit_time_seconds\"], 900), 900, 0),\n      max_total_charge: numberValue(systemDefault([\"max_total_charge\"], 0), 0, 0),\n      max_total_traffic: numberValue(systemDefault([\"max_total_traffic\"], 0), 0, 0),\n    }),\n  },\n}];"
      },
      "id": "generate-campaign-config",
      "name": "Generate Campaign Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        },
        "version": "={{ $json.version }}",
        "customParams": "={{ $json.customParams }}",
        "additionalFields": {
          "systemParams": "={{ $json.systemParams }}"
        }
      },
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        260,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const run = $input.all()[0]?.json ?? {};\nconst cfg = $node[\"Generate Campaign Config\"].json;\nreturn [{\n  json: {\n    outcome: \"started\",\n    run_slug: run.run_slug,\n    scraper_slug: cfg.scraper_slug,\n    scraper_title: cfg.scraper_title,\n    version: cfg.version,\n    keyword: cfg.keyword,\n    base_location: cfg.base_location,\n    requested_max_results: cfg.max_results,\n    next_step: \"Use Run > Get, Get Results, Export Results, or Logs with this run_slug after the run completes.\",\n  },\n}];"
      },
      "id": "build-starter-summary",
      "name": "Build Starter Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        120
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Lead Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Search Input": {
      "main": [
        [
          {
            "node": "Search CoreClaw Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search CoreClaw Scrapers": {
      "main": [
        [
          {
            "node": "Select Google Maps Keyword Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Google Maps Keyword Scraper": {
      "main": [
        [
          {
            "node": "Get Current Scraper Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Scraper Details": {
      "main": [
        [
          {
            "node": "Generate Campaign Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Campaign Config": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start CoreClaw Run": {
      "main": [
        [
          {
            "node": "Build Starter Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}
