workflows/coreclaw-google-maps-leads-complete-global.json
{
  "id": "coreclawGoogleMapsLeadsCompleteGlobal",
  "name": "CoreClaw Google Maps Leads Complete Global",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## CoreClaw Google Maps Leads - Complete Global\\n\\n1. Install `n8n-nodes-coreclaw`.\\n2. Create a CoreClaw API credential.\\n3. Select that credential on every CoreClaw node after import.\\n4. Edit Lead Search Input, then execute.\\n\\nFlow: Search scrapers -> select Google Maps keyword scraper -> get details/version/schema -> generate campaign config -> run -> poll -> results -> CSV/JSON exports -> logs.\\n\\nNo API key, local path, or proxy setting is stored in this workflow.",
        "width": 640,
        "height": 320
      },
      "id": "note-setup",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        -340
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1380,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store_search_query",
              "name": "store_search_query",
              "value": "Google Maps keyword",
              "type": "string"
            },
            {
              "id": "store_search_limit",
              "name": "store_search_limit",
              "value": 20,
              "type": "number"
            },
            {
              "id": "target_scraper_title",
              "name": "target_scraper_title",
              "value": "Google Map Details By Keyword",
              "type": "string"
            },
            {
              "id": "target_scraper_slug",
              "name": "target_scraper_slug",
              "value": "01KPD6M5YQADCQKGVKPDZVYC63",
              "type": "string"
            },
            {
              "id": "keyword",
              "name": "keyword",
              "value": "coffee shop",
              "type": "string"
            },
            {
              "id": "base_location",
              "name": "base_location",
              "value": "New York, USA",
              "type": "string"
            },
            {
              "id": "max_results",
              "name": "max_results",
              "value": 5,
              "type": "number"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "en-US",
              "type": "string"
            },
            {
              "id": "fetch_reviews",
              "name": "fetch_reviews",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "fetch_social_info",
              "name": "fetch_social_info",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "max_reviews_per_place",
              "name": "max_reviews_per_place",
              "value": 5,
              "type": "number"
            },
            {
              "id": "result_limit",
              "name": "result_limit",
              "value": 20,
              "type": "number"
            },
            {
              "id": "max_results_hard_limit",
              "name": "max_results_hard_limit",
              "value": 100,
              "type": "number"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 30,
              "type": "number"
            },
            {
              "id": "cpus",
              "name": "cpus",
              "value": 1,
              "type": "number"
            },
            {
              "id": "memory",
              "name": "memory",
              "value": 4096,
              "type": "number"
            },
            {
              "id": "execute_limit_time_seconds",
              "name": "execute_limit_time_seconds",
              "value": 900,
              "type": "number"
            },
            {
              "id": "max_total_charge",
              "name": "max_total_charge",
              "value": 0,
              "type": "number"
            },
            {
              "id": "max_total_traffic",
              "name": "max_total_traffic",
              "value": 0,
              "type": "number"
            },
            {
              "id": "export_filter_keys",
              "name": "export_filter_keys",
              "value": "title,address,phone,website,review_rating,review_count,primary_category,url",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "lead-search-input",
      "name": "Lead Search Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "search",
        "query": "={{ $node[\"Lead Search Input\"].json.store_search_query }}",
        "limit": "={{ Number($node[\"Lead Search Input\"].json.store_search_limit || 20) }}"
      },
      "id": "search-scrapers",
      "name": "Search CoreClaw Scrapers",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $input.all().map((item) => item.json).filter(Boolean);\nconst input = $node[\"Lead Search Input\"].json;\n\nconst targetSlug = String(input.target_scraper_slug || \"\").trim();\nconst targetTitle = String(input.target_scraper_title || \"Google Map Details By Keyword\").trim().toLowerCase();\n\nconst selected = candidates.find((candidate) => String(candidate.slug || \"\") === targetSlug)\n  ?? candidates.find((candidate) => String(candidate.title || \"\").trim().toLowerCase() === targetTitle)\n  ?? candidates.find((candidate) => /google\\s*map/i.test(String(candidate.title || \"\")) && /keyword/i.test(String(candidate.title || \"\")));\n\nif (!selected?.slug) {\n  const found = candidates.map((candidate) => candidate.title || candidate.slug).filter(Boolean).slice(0, 10).join(\", \");\n  throw new Error(`Could not find the Google Maps keyword scraper from CoreClaw store search. Found: ${found || \"none\"}`);\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.slug,\n    scraper_title: selected.title || \"Google Map Details By Keyword\",\n    scraper_description: selected.description || \"\",\n    store_search_query: input.store_search_query,\n    store_candidates_checked: candidates.length,\n  },\n}];"
      },
      "id": "select-google-maps-keyword-scraper",
      "name": "Select Google Maps Keyword Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "getDetails",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        }
      },
      "id": "get-scraper-details",
      "name": "Get Current Scraper Details",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const detail = $input.all()[0]?.json ?? {};\nconst selected = $node[\"Select Google Maps Keyword Scraper\"].json;\nconst input = $node[\"Lead Search Input\"].json;\n\nconst version = detail.version;\nif (!version) {\n  throw new Error(\"CoreClaw scraper detail did not include a version. Re-check the scraper slug or API response.\");\n}\n\nconst parameters = detail.parameters ?? {};\nconst customSchema = parameters.custom ?? {};\nconst systemDefaults = parameters.system ?? {};\nconst customProperties = Array.isArray(customSchema.properties) ? customSchema.properties : [];\nconst requiredCustomFields = customProperties\n  .filter((property) => property.required)\n  .map((property) => property.name)\n  .filter(Boolean);\n\nconst keyword = String(input.keyword ?? \"\").trim();\nconst baseLocation = String(input.base_location ?? \"\").trim();\nif (!keyword) throw new Error(\"keyword is required.\");\nif (!baseLocation) throw new Error(\"base_location is required.\");\n\nconst hardLimit = Math.max(1, Number(input.max_results_hard_limit || 100));\nconst maxResults = Math.min(Math.max(1, Number(input.max_results || 5)), hardLimit);\nconst fetchReviews = Boolean(input.fetch_reviews);\nconst fetchSocialInfo = Boolean(input.fetch_social_info);\n\nfunction numberFromInput(name, fallback, minimum = 0) {\n  return Math.max(minimum, Number(input[name] ?? fallback));\n}\n\nfunction systemDefault(names, fallback) {\n  for (const name of names) {\n    const value = systemDefaults[name];\n    if (value !== undefined && value !== null && value !== \"\") return value;\n  }\n  return fallback;\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.scraper_slug,\n    scraper_title: selected.scraper_title,\n    scraper_description: selected.scraper_description,\n    version,\n    custom_schema: customSchema,\n    system_defaults: systemDefaults,\n    required_custom_fields: requiredCustomFields,\n    keyword,\n    base_location: baseLocation,\n    max_results: maxResults,\n    result_limit: numberFromInput(\"result_limit\", maxResults || 20, 1),\n    wait_seconds: numberFromInput(\"wait_seconds\", 30, 5),\n    max_poll_attempts: 6,\n    export_filter_keys: String(input.export_filter_keys || \"title,address,phone,website,review_rating,review_count,primary_category,url\"),\n    customParams: JSON.stringify({\n      url: [{\n        lang: String(input.lang || \"en-US\"),\n        keyword,\n        max_results: maxResults,\n        base_location: baseLocation,\n        fetch_reviews: fetchReviews,\n        fetch_social_info: fetchSocialInfo,\n        max_reviews_per_place: numberFromInput(\"max_reviews_per_place\", 0, 0),\n      }],\n    }),\n    systemParams: JSON.stringify({\n      cpus: numberFromInput(\"cpus\", systemDefault([\"cpus\"], 1), 0.125),\n      memory: numberFromInput(\"memory\", systemDefault([\"memory\", \"memory_bytes\"], 4096), 512),\n      execute_limit_time_seconds: numberFromInput(\"execute_limit_time_seconds\", systemDefault([\"execute_limit_time_seconds\"], 900), 60),\n      max_total_charge: numberFromInput(\"max_total_charge\", systemDefault([\"max_total_charge\"], 0), 0),\n      max_total_traffic: numberFromInput(\"max_total_traffic\", systemDefault([\"max_total_traffic\"], 0), 0),\n    }),\n  },\n}];"
      },
      "id": "generate-campaign-config",
      "name": "Generate Campaign Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        },
        "version": "={{ $json.version }}",
        "customParams": "={{ $json.customParams }}",
        "additionalFields": {
          "systemParams": "={{ $json.systemParams }}"
        }
      },
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        140,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "getResults",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}",
        "returnAll": false,
        "limit": "={{ Number($node[\"Generate Campaign Config\"].json.result_limit || 20) }}"
      },
      "id": "get-run-results",
      "name": "Get Run Results",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        2060,
        -340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all().map((item) => item.json);\nconst first = results[0] ?? {};\nreturn [{\n  json: {\n    run_slug: $node[\"Start CoreClaw Run\"].json.run_slug,\n    result_items_returned: results.length,\n    first_result_title: first.title ?? \"\",\n    first_result_address: first.address ?? \"\",\n    first_result_phone: first.phone ?? \"\",\n    first_result_website: first.website ?? \"\",\n    sample_results: results.slice(0, 3),\n  },\n}];"
      },
      "id": "summarize-results",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -340
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "exportResults",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}",
        "format": "csv",
        "filterKeys": "={{ $node[\"Generate Campaign Config\"].json.export_filter_keys }}"
      },
      "id": "export-csv",
      "name": "Export CSV",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        2580,
        -340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "exportResults",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}",
        "format": "json",
        "filterKeys": "={{ $node[\"Generate Campaign Config\"].json.export_filter_keys }}"
      },
      "id": "export-json",
      "name": "Export JSON",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        2840,
        -340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "getLogs",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-success-logs",
      "name": "Get Success Logs",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        3100,
        -340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function firstJson(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items?.[0]?.json ?? null;\n  } catch (error) {\n    return null;\n  }\n}\n\nconst status = [\"Get Run Status 1\",\"Get Run Status 2\",\"Get Run Status 3\",\"Get Run Status 4\",\"Get Run Status 5\",\"Get Run Status 6\"].map(firstJson).filter(Boolean).at(-1) ?? {};\nconst logs = $input.all()[0]?.json ?? {};\nconst runSlug = $node[\"Start CoreClaw Run\"].json.run_slug;\nconst cfg = $node[\"Generate Campaign Config\"].json;\nconst resultSummary = firstJson(\"Summarize Results\") ?? {};\nconst exportResult = firstJson(\"Export CSV\") ?? {};\nconst jsonExportResult = firstJson(\"Export JSON\") ?? {};\n\nreturn [{\n  json: {\n    outcome: \"success\",\n    run_slug: runSlug,\n    scraper_slug: cfg.scraper_slug,\n    scraper_title: cfg.scraper_title,\n    version: cfg.version,\n    keyword: cfg.keyword,\n    base_location: cfg.base_location,\n    requested_max_results: cfg.max_results,\n    run_status: status.status ?? null,\n    run_error_message: status.err_msg ?? \"\",\n    coreclaw_result_count: status.results ?? null,\n    duration_seconds: status.duration ?? null,\n    returned_result_items: resultSummary.result_items_returned ?? 0,\n    first_result_title: resultSummary.first_result_title ?? \"\",\n    first_result_address: resultSummary.first_result_address ?? \"\",\n    csv_download_url: exportResult.download_url ?? \"\",\n    json_download_url: jsonExportResult.download_url ?? \"\",\n    logs_url: logs.all_logs_url ?? \"\",\n    log_count: Array.isArray(logs.list) ? logs.list.length : 0,\n    next_step: \"Use csv_download_url or sample_results for downstream CRM, sheet, or notification steps.\",\n    sample_results: resultSummary.sample_results ?? [],\n  },\n}];"
      },
      "id": "build-success-summary",
      "name": "Build Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -340
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "getLogs",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-failure-logs",
      "name": "Get Failure Logs",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        2060,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function firstJson(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items?.[0]?.json ?? null;\n  } catch (error) {\n    return null;\n  }\n}\n\nconst status = [\"Get Run Status 1\",\"Get Run Status 2\",\"Get Run Status 3\",\"Get Run Status 4\",\"Get Run Status 5\",\"Get Run Status 6\"].map(firstJson).filter(Boolean).at(-1) ?? {};\nconst logs = $input.all()[0]?.json ?? {};\nconst runSlug = $node[\"Start CoreClaw Run\"].json.run_slug;\nconst cfg = $node[\"Generate Campaign Config\"].json;\nconst resultSummary = firstJson(\"Summarize Results\") ?? {};\nconst exportResult = firstJson(\"Export CSV\") ?? {};\nconst jsonExportResult = firstJson(\"Export JSON\") ?? {};\n\nreturn [{\n  json: {\n    outcome: \"failure\",\n    run_slug: runSlug,\n    scraper_slug: cfg.scraper_slug,\n    scraper_title: cfg.scraper_title,\n    version: cfg.version,\n    keyword: cfg.keyword,\n    base_location: cfg.base_location,\n    requested_max_results: cfg.max_results,\n    run_status: status.status ?? null,\n    run_error_message: status.err_msg ?? \"\",\n    coreclaw_result_count: status.results ?? null,\n    duration_seconds: status.duration ?? null,\n    returned_result_items: resultSummary.result_items_returned ?? 0,\n    first_result_title: resultSummary.first_result_title ?? \"\",\n    first_result_address: resultSummary.first_result_address ?? \"\",\n    csv_download_url: exportResult.download_url ?? \"\",\n    json_download_url: jsonExportResult.download_url ?? \"\",\n    logs_url: logs.all_logs_url ?? \"\",\n    log_count: Array.isArray(logs.list) ? logs.list.length : 0,\n    next_step: \"Open logs_url and inspect run_error_message before retrying with smaller max_results or longer timeout.\",\n    sample_results: resultSummary.sample_results ?? [],\n  },\n}];"
      },
      "id": "build-failure-summary",
      "name": "Build Failure Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        240
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "getLogs",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-timeout-logs",
      "name": "Get Timeout Logs",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        2060,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function firstJson(nodeName) {\n  try {\n    const items = $items(nodeName);\n    return items?.[0]?.json ?? null;\n  } catch (error) {\n    return null;\n  }\n}\n\nconst status = [\"Get Run Status 1\",\"Get Run Status 2\",\"Get Run Status 3\",\"Get Run Status 4\",\"Get Run Status 5\",\"Get Run Status 6\"].map(firstJson).filter(Boolean).at(-1) ?? {};\nconst logs = $input.all()[0]?.json ?? {};\nconst runSlug = $node[\"Start CoreClaw Run\"].json.run_slug;\nconst cfg = $node[\"Generate Campaign Config\"].json;\nconst resultSummary = firstJson(\"Summarize Results\") ?? {};\nconst exportResult = firstJson(\"Export CSV\") ?? {};\nconst jsonExportResult = firstJson(\"Export JSON\") ?? {};\n\nreturn [{\n  json: {\n    outcome: \"timeout\",\n    run_slug: runSlug,\n    scraper_slug: cfg.scraper_slug,\n    scraper_title: cfg.scraper_title,\n    version: cfg.version,\n    keyword: cfg.keyword,\n    base_location: cfg.base_location,\n    requested_max_results: cfg.max_results,\n    run_status: status.status ?? null,\n    run_error_message: status.err_msg ?? \"\",\n    coreclaw_result_count: status.results ?? null,\n    duration_seconds: status.duration ?? null,\n    returned_result_items: resultSummary.result_items_returned ?? 0,\n    first_result_title: resultSummary.first_result_title ?? \"\",\n    first_result_address: resultSummary.first_result_address ?? \"\",\n    csv_download_url: exportResult.download_url ?? \"\",\n    json_download_url: jsonExportResult.download_url ?? \"\",\n    logs_url: logs.all_logs_url ?? \"\",\n    log_count: Array.isArray(logs.list) ? logs.list.length : 0,\n    next_step: \"Open logs_url and inspect run_error_message before retrying with smaller max_results or longer timeout.\",\n    sample_results: resultSummary.sample_results ?? [],\n  },\n}];"
      },
      "id": "build-timeout-summary",
      "name": "Build Timeout Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        520
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-1",
      "name": "Wait Before Poll 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-1",
      "name": "Get Run Status 1",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        260,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-1",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-1",
      "name": "If Run Succeeded 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-1",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-1",
      "name": "If Run Failed 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        540
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-2",
      "name": "Wait Before Poll 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-2",
      "name": "Get Run Status 2",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        520,
        420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-2",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-2",
      "name": "If Run Succeeded 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-2",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-2",
      "name": "If Run Failed 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        720
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-3",
      "name": "Wait Before Poll 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        780,
        480
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-3",
      "name": "Get Run Status 3",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        780,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-3",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-3",
      "name": "If Run Succeeded 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-3",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-3",
      "name": "If Run Failed 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        900
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-4",
      "name": "Wait Before Poll 4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        660
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-4",
      "name": "Get Run Status 4",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        1040,
        780
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-4",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-4",
      "name": "If Run Succeeded 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-4",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-4",
      "name": "If Run Failed 4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1080
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-5",
      "name": "Wait Before Poll 5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1300,
        840
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-5",
      "name": "Get Run Status 5",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        1300,
        960
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-5",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-5",
      "name": "If Run Succeeded 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        1100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-5",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-5",
      "name": "If Run Failed 5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        1260
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($node[\"Generate Campaign Config\"].json.wait_seconds || 30) }}",
        "unit": "seconds"
      },
      "id": "wait-before-poll-6",
      "name": "Wait Before Poll 6",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1560,
        1020
      ]
    },
    {
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $node[\"Start CoreClaw Run\"].json.run_slug }}"
      },
      "id": "get-run-status-6",
      "name": "Get Run Status 6",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        1560,
        1140
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-3-6",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-succeeded-6",
      "name": "If Run Succeeded 6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        1280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-4-6",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-failed-6",
      "name": "If Run Failed 6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        1440
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Lead Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Search Input": {
      "main": [
        [
          {
            "node": "Search CoreClaw Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search CoreClaw Scrapers": {
      "main": [
        [
          {
            "node": "Select Google Maps Keyword Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Google Maps Keyword Scraper": {
      "main": [
        [
          {
            "node": "Get Current Scraper Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Scraper Details": {
      "main": [
        [
          {
            "node": "Generate Campaign Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Campaign Config": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start CoreClaw Run": {
      "main": [
        [
          {
            "node": "Wait Before Poll 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 1": {
      "main": [
        [
          {
            "node": "Get Run Status 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 1": {
      "main": [
        [
          {
            "node": "If Run Succeeded 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 1": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 1": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 2": {
      "main": [
        [
          {
            "node": "Get Run Status 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 2": {
      "main": [
        [
          {
            "node": "If Run Succeeded 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 2": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 2": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 3": {
      "main": [
        [
          {
            "node": "Get Run Status 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 3": {
      "main": [
        [
          {
            "node": "If Run Succeeded 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 3": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 3": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 4": {
      "main": [
        [
          {
            "node": "Get Run Status 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 4": {
      "main": [
        [
          {
            "node": "If Run Succeeded 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 4": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 4": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 5": {
      "main": [
        [
          {
            "node": "Get Run Status 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 5": {
      "main": [
        [
          {
            "node": "If Run Succeeded 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 5": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 5": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll 6": {
      "main": [
        [
          {
            "node": "Get Run Status 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status 6": {
      "main": [
        [
          {
            "node": "If Run Succeeded 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Succeeded 6": {
      "main": [
        [
          {
            "node": "Get Run Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Run Failed 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Run Failed 6": {
      "main": [
        [
          {
            "node": "Get Failure Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Timeout Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Results": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Export CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export CSV": {
      "main": [
        [
          {
            "node": "Export JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export JSON": {
      "main": [
        [
          {
            "node": "Get Success Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Success Logs": {
      "main": [
        [
          {
            "node": "Build Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failure Logs": {
      "main": [
        [
          {
            "node": "Build Failure Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timeout Logs": {
      "main": [
        [
          {
            "node": "Build Timeout Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}
