workflows/coreclaw-google-maps-leads-starter-global.json
{
  "id": "coreclawGoogleMapsLeadsStarterGlobal",
  "name": "CoreClaw Google Maps Leads Starter Global",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## CoreClaw Google Maps Leads - Starter Global\\n\\nSearches CoreClaw Store, selects the Google Maps keyword scraper, reads details/version/schema, generates campaign config, starts a run, and returns `run_slug`.\\n\\nAfter import, select your own CoreClaw API credential on each CoreClaw node.",
        "width": 620,
        "height": 260
      },
      "id": "note-starter",
      "name": "Setup Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1380,
        -260
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store_search_query",
              "name": "store_search_query",
              "value": "Google Maps keyword",
              "type": "string"
            },
            {
              "id": "store_search_limit",
              "name": "store_search_limit",
              "value": 20,
              "type": "number"
            },
            {
              "id": "target_scraper_title",
              "name": "target_scraper_title",
              "value": "Google Map Details By Keyword",
              "type": "string"
            },
            {
              "id": "target_scraper_slug",
              "name": "target_scraper_slug",
              "value": "01KPD6M5YQADCQKGVKPDZVYC63",
              "type": "string"
            },
            {
              "id": "keyword",
              "name": "keyword",
              "value": "coffee shop",
              "type": "string"
            },
            {
              "id": "base_location",
              "name": "base_location",
              "value": "New York, USA",
              "type": "string"
            },
            {
              "id": "max_results",
              "name": "max_results",
              "value": 5,
              "type": "number"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "en-US",
              "type": "string"
            },
            {
              "id": "fetch_reviews",
              "name": "fetch_reviews",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "fetch_social_info",
              "name": "fetch_social_info",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "max_reviews_per_place",
              "name": "max_reviews_per_place",
              "value": 5,
              "type": "number"
            },
            {
              "id": "result_limit",
              "name": "result_limit",
              "value": 20,
              "type": "number"
            },
            {
              "id": "max_results_hard_limit",
              "name": "max_results_hard_limit",
              "value": 100,
              "type": "number"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 30,
              "type": "number"
            },
            {
              "id": "cpus",
              "name": "cpus",
              "value": 1,
              "type": "number"
            },
            {
              "id": "memory",
              "name": "memory",
              "value": 4096,
              "type": "number"
            },
            {
              "id": "execute_limit_time_seconds",
              "name": "execute_limit_time_seconds",
              "value": 900,
              "type": "number"
            },
            {
              "id": "max_total_charge",
              "name": "max_total_charge",
              "value": 0,
              "type": "number"
            },
            {
              "id": "max_total_traffic",
              "name": "max_total_traffic",
              "value": 0,
              "type": "number"
            },
            {
              "id": "export_filter_keys",
              "name": "export_filter_keys",
              "value": "title,address,phone,website,review_rating,review_count,primary_category,url",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "lead-search-input",
      "name": "Lead Search Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "search",
        "query": "={{ $node[\"Lead Search Input\"].json.store_search_query }}",
        "limit": "={{ Number($node[\"Lead Search Input\"].json.store_search_limit || 20) }}"
      },
      "id": "search-scrapers",
      "name": "Search CoreClaw Scrapers",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -780,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const candidates = $input.all().map((item) => item.json).filter(Boolean);\nconst input = $node[\"Lead Search Input\"].json;\n\nconst targetSlug = String(input.target_scraper_slug || \"\").trim();\nconst targetTitle = String(input.target_scraper_title || \"Google Map Details By Keyword\").trim().toLowerCase();\n\nconst selected = candidates.find((candidate) => String(candidate.slug || \"\") === targetSlug)\n  ?? candidates.find((candidate) => String(candidate.title || \"\").trim().toLowerCase() === targetTitle)\n  ?? candidates.find((candidate) => /google\\s*map/i.test(String(candidate.title || \"\")) && /keyword/i.test(String(candidate.title || \"\")));\n\nif (!selected?.slug) {\n  const found = candidates.map((candidate) => candidate.title || candidate.slug).filter(Boolean).slice(0, 10).join(\", \");\n  throw new Error(`Could not find the Google Maps keyword scraper from CoreClaw store search. Found: ${found || \"none\"}`);\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.slug,\n    scraper_title: selected.title || \"Google Map Details By Keyword\",\n    scraper_description: selected.description || \"\",\n    store_search_query: input.store_search_query,\n    store_candidates_checked: candidates.length,\n  },\n}];"
      },
      "id": "select-google-maps-keyword-scraper",
      "name": "Select Google Maps Keyword Scraper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "getDetails",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        }
      },
      "id": "get-scraper-details",
      "name": "Get Current Scraper Details",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -260,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const detail = $input.all()[0]?.json ?? {};\nconst selected = $node[\"Select Google Maps Keyword Scraper\"].json;\nconst input = $node[\"Lead Search Input\"].json;\n\nconst version = detail.version;\nif (!version) {\n  throw new Error(\"CoreClaw scraper detail did not include a version. Re-check the scraper slug or API response.\");\n}\n\nconst parameters = detail.parameters ?? {};\nconst customSchema = parameters.custom ?? {};\nconst systemDefaults = parameters.system ?? {};\nconst customProperties = Array.isArray(customSchema.properties) ? customSchema.properties : [];\nconst requiredCustomFields = customProperties\n  .filter((property) => property.required)\n  .map((property) => property.name)\n  .filter(Boolean);\n\nconst keyword = String(input.keyword ?? \"\").trim();\nconst baseLocation = String(input.base_location ?? \"\").trim();\nif (!keyword) throw new Error(\"keyword is required.\");\nif (!baseLocation) throw new Error(\"base_location is required.\");\n\nconst hardLimit = Math.max(1, Number(input.max_results_hard_limit || 100));\nconst maxResults = Math.min(Math.max(1, Number(input.max_results || 5)), hardLimit);\nconst fetchReviews = Boolean(input.fetch_reviews);\nconst fetchSocialInfo = Boolean(input.fetch_social_info);\n\nfunction numberFromInput(name, fallback, minimum = 0) {\n  return Math.max(minimum, Number(input[name] ?? fallback));\n}\n\nfunction systemDefault(names, fallback) {\n  for (const name of names) {\n    const value = systemDefaults[name];\n    if (value !== undefined && value !== null && value !== \"\") return value;\n  }\n  return fallback;\n}\n\nreturn [{\n  json: {\n    scraper_slug: selected.scraper_slug,\n    scraper_title: selected.scraper_title,\n    scraper_description: selected.scraper_description,\n    version,\n    custom_schema: customSchema,\n    system_defaults: systemDefaults,\n    required_custom_fields: requiredCustomFields,\n    keyword,\n    base_location: baseLocation,\n    max_results: maxResults,\n    result_limit: numberFromInput(\"result_limit\", maxResults || 20, 1),\n    wait_seconds: numberFromInput(\"wait_seconds\", 30, 5),\n    max_poll_attempts: 6,\n    export_filter_keys: String(input.export_filter_keys || \"title,address,phone,website,review_rating,review_count,primary_category,url\"),\n    customParams: JSON.stringify({\n      url: [{\n        lang: String(input.lang || \"en-US\"),\n        keyword,\n        max_results: maxResults,\n        base_location: baseLocation,\n        fetch_reviews: fetchReviews,\n        fetch_social_info: fetchSocialInfo,\n        max_reviews_per_place: numberFromInput(\"max_reviews_per_place\", 0, 0),\n      }],\n    }),\n    systemParams: JSON.stringify({\n      cpus: numberFromInput(\"cpus\", systemDefault([\"cpus\"], 1), 0.125),\n      memory: numberFromInput(\"memory\", systemDefault([\"memory\", \"memory_bytes\"], 4096), 512),\n      execute_limit_time_seconds: numberFromInput(\"execute_limit_time_seconds\", systemDefault([\"execute_limit_time_seconds\"], 900), 60),\n      max_total_charge: numberFromInput(\"max_total_charge\", systemDefault([\"max_total_charge\"], 0), 0),\n      max_total_traffic: numberFromInput(\"max_total_traffic\", systemDefault([\"max_total_traffic\"], 0), 0),\n    }),\n  },\n}];"
      },
      "id": "generate-campaign-config",
      "name": "Generate Campaign Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        120
      ]
    },
    {
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.scraper_slug }}",
          "cachedResultName": "Google Map Details By Keyword"
        },
        "version": "={{ $json.version }}",
        "customParams": "={{ $json.customParams }}",
        "additionalFields": {
          "systemParams": "={{ $json.systemParams }}"
        }
      },
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        260,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your own CoreClaw API credential after importing this workflow."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const run = $input.all()[0]?.json ?? {};\nconst cfg = $node[\"Generate Campaign Config\"].json;\nreturn [{\n  json: {\n    outcome: \"started\",\n    run_slug: run.run_slug,\n    scraper_slug: cfg.scraper_slug,\n    scraper_title: cfg.scraper_title,\n    version: cfg.version,\n    keyword: cfg.keyword,\n    base_location: cfg.base_location,\n    requested_max_results: cfg.max_results,\n    next_step: \"Use Run > Get, Get Results, Export Results, or Logs with this run_slug after the run completes.\",\n  },\n}];"
      },
      "id": "build-starter-summary",
      "name": "Build Starter Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        120
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Lead Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Search Input": {
      "main": [
        [
          {
            "node": "Search CoreClaw Scrapers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search CoreClaw Scrapers": {
      "main": [
        [
          {
            "node": "Select Google Maps Keyword Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Google Maps Keyword Scraper": {
      "main": [
        [
          {
            "node": "Get Current Scraper Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Scraper Details": {
      "main": [
        [
          {
            "node": "Generate Campaign Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Campaign Config": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start CoreClaw Run": {
      "main": [
        [
          {
            "node": "Build Starter Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "tags": []
}
