workflows/instagram-reels-to-sheets.json
{
  "name": "Instagram Reels → Google Sheets / Reels→谷歌表格",
  "nodes": [
    {
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d-webhook",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-reels-to-sheets",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "ig-reels-to-sheets"
    },
    {
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "d-input",
      "name": "Input Config / 输入配置",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "profile_url",
              "value": "https://www.instagram.com/espn",
              "type": "string"
            },
            {
              "name": "num_of_posts",
              "value": 5,
              "type": "number"
            },
            {
              "name": "start_date",
              "value": "",
              "type": "string"
            },
            {
              "name": "end_date",
              "value": "",
              "type": "string"
            },
            {
              "name": "spreadsheet_id",
              "value": "1RtA2E-Yf9wvjyJGs7jJZvEyMHKp-NIgbVsIQ_AVhBLQ",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "d-run",
      "name": "Run and Get Results / 运行并取结果",
      "parameters": {
        "resource": "worker",
        "operation": "runAndGetResults",
        "workerId": {
          "mode": "id",
          "value": "coreclaw~instagram-all-reel-scraper",
          "__rl": true
        },
        "input_json": "={\n  \"url\": [{\n    \"url\": \"{{ $json.profile_url }}\",\n    \"num_of_posts\": \"{{ $json.num_of_posts }}\",\n    \"start_date\": \"{{ $json.start_date }}\",\n    \"end_date\": \"{{ $json.end_date }}\",\n    \"posts_to_not_include\": \"\"\n  }]\n}",
        "returnAll": true,
        "limit": 50
      },
      "credentials": {
        "coreClawApi": {
          "id": "1Q3qGQ2v7GmH03DQ",
          "name": "CoreClaw API"
        }
      }
    },
    {
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "d-code",
      "name": "Normalize & Score / 标准化与评分",
      "parameters": {
        "jsCode": "const rows = [];\nfor (const item of $input.all()) {\n  const d = item.json || {};\n  const likes = Number(d.likes) || 0;\n  const comments = Number(d.num_comments) || 0;\n  const followers = Number(d.followers) || 0;\n  const plays = Number(d.video_play_count) || Number(d.video_play_count === \"\" ? 0 : d.video_play_count) || 0;\n  const dur = (d.videos_duration && d.videos_duration[0] && d.videos_duration[0].video_duration) || \"\";\n  const engRate = followers > 0 ? (likes / followers) : 0;\n  // engagement score 0-100: like-rate vs followers (40) + comment volume (35) + play signal (25)\n  const likeScore = Math.min(40, engRate * 400);\n  const commentScore = Math.min(35, comments / 50 * 35);\n  const playScore = Math.min(25, plays / 100000 * 25);\n  const score = Math.round(likeScore + commentScore + playScore);\n  const ts = d.date_posted ? new Date(Number(d.date_posted) * 1000).toISOString() : \"\";\n  rows.push({ json: {\n    engagement_score: score,\n    engagement_rate: (engRate * 100).toFixed(2) + \"%\",\n    user_posted: d.user_posted || \"\",\n    followers: followers,\n    likes: likes,\n    num_comments: comments,\n    video_play_count: plays,\n    video_duration: dur,\n    description: (d.description || \"\").slice(0, 200),\n    hashtags: Array.isArray(d.hashtags) ? d.hashtags.join(\" \") : (d.hashtags || \"\"),\n    is_verified: d.is_verified ? \"yes\" : \"no\",\n    is_paid_partnership: d.is_paid_partnership ? \"yes\" : \"no\",\n    date_posted: ts,\n    shortcode: d.shortcode || \"\",\n    reel_url: d.url || \"\",\n    thumbnail: d.thumbnail || \"\",\n    profile_url: d.profile_url || \"\",\n    posts_count: Number(d.posts_count) || 0\n  }});\n}\nrows.sort((a, b) => b.json.engagement_score - a.json.engagement_score);\nrows.forEach((r, i) => { r.json.rank = i + 1; });\nreturn rows;\n"
      }
    },
    {
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "d-sheet",
      "name": "Append Rows to Sheet / 追加到表格",
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1RtA2E-Yf9wvjyJGs7jJZvEyMHKp-NIgbVsIQ_AVhBLQ",
          "__rl": true,
          "cachedResultName": "Instagram Insights"
        },
        "sheetName": {
          "mode": "name",
          "value": "Reels",
          "__rl": true
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "auigvMexy6zFEBF4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        -100
      ],
      "id": "d-note1",
      "name": "Overview",
      "parameters": {
        "content": "## Instagram Reels → Google Sheets\n\nScrape reels from a profile via CoreClaw, score each by engagement (likes/followers ratio + comments + plays), append to the **Reels** sheet.\n\nEdit **Input Config**: profile URL, max reels, optional date range."
      },
      "width": 400,
      "height": 200
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        120
      ],
      "id": "d-note2",
      "name": "Creds",
      "parameters": {
        "content": "Bind credentials:\n- CoreClaw API (Run node)\n- Google Sheets OAuth2 (Append node)"
      },
      "width": 400,
      "height": 120
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Input Config / 输入配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Config / 输入配置": {
      "main": [
        [
          {
            "node": "Run and Get Results / 运行并取结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run and Get Results / 运行并取结果": {
      "main": [
        [
          {
            "node": "Normalize & Score / 标准化与评分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Score / 标准化与评分": {
      "main": [
        [
          {
            "node": "Append Rows to Sheet / 追加到表格",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
